body {
    background-color: #73777B
}
/* header start*/
header {
    width: 800px;
    background-color: rgb(223, 213, 213);
    height: 90px;
    text-align: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 15px;
    line-height: 90px;
    color: #73777B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    width: 800px;
    background-color: rgb(223, 213, 213);
    height: 90px;
    text-align: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 15px;
    line-height: 90px;
    color: #73777B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* header finish*/

/* main start */
section {
    margin-left: 250px;
    height: 300px;
    background-color: rgb(223, 213, 213);
    margin-top: 20px;
    width: 500px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #73777B;
    font-size: 20px;
}

.article {
    background-color: #73777B;
    width: 460px;
    color: rgb(223, 213, 213);
    margin-top: 0;
    height: 170px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;

}

.number {
    background-color: rgb(223, 213, 213);
    margin: 10px;
    width: 440px;
    color: #73777B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.parag {
    background-color: rgb(223, 213, 213);
    margin: 10px;
    width: 440px;
    color: #73777B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.aside {
    background-color: rgb(223, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 290px;
    height: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 300px;
    font-size: 20px;
    color: #73777B;
}

main {
    display: flex;
}

/* main finish*/

/* footer start*/

footer {
    width: 800px;
    background-color: rgb(223, 213, 213);
    height: 90px;
    text-align: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 15px;
    line-height: 90px;
    color: #73777B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

/* foter finish /*
